.container{
    display:flex;
    align-items: center; 
}

img {
    max-width: 100%;
    max-height:100%;
  }
  
  .text {
    font-size: 25px;
  }


  .banner {
    display: inline-block;
  background-color: black; /* Background color for the button */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners for the button */
  color: #fff; /* Text color for the button */
  font-size: 16px; /* Font size for the text */
  text-align: center; /* Center-align text */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */

  }


  .banner i {
    margin-right: 10px;
  }

  .certified {
    display: inline-block;
  background-color: black; /* Background color for the button */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners for the button */
  color: #fff; /* Text color for the button */
  font-size: 16px; /* Font size for the text */
  text-align: center; /* Center-align text */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }

  .certified i {
    margin-right: 10px;
  }

  .third-block{
    display: inline-block;
    background-color: black; /* Background color for the button */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners for the button */
    color: #fff; /* Text color for the button */
    font-size: 16px; /* Font size for the text */
    text-align: center; /* Center-align text */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }

  .third-block i {
    margin-right: 10px;
  }

  .fourth-block{
    display: inline-block;
    background-color: black; /* Background color for the button */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners for the button */
    color: #fff; /* Text color for the button */
    font-size: 16px; /* Font size for the text */
    text-align: center; /* Center-align text */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }


  .fourth-block i {
    margin-right: 10px;
  }

  .banner1 {
    background-color: black;
  }

  .text1 {
    text-align: center;
  }

  #forleaf{
    align-items: center;
  }

  .banner3 {
    background-color: black;
    color:#fff;
    display: flex;
    align-content: space-between;
  }